*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  gap: 30px;
}

.result__video-container {
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
  position: relative;
  cursor: pointer;

}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.result {
  align-self: flex-end;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-top: 4px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: inherit;
  color: #fff;
  margin-top: 5px;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  letter-spacing: 0;
  line-height: 100%;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox {
  outline: none;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px #fff solid ;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;

}

.button {
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
}

.search-form__submit-button {
  height: 34px;
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px #fff solid ;
  outline-offset: 2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Oswald';
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent:first-child {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container:last-child {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  width: 399px;
  height: 298px;
  overflow-y: auto;
  margin-top: 22px;
  position: relative;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: inherit;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.content__video-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  background-color: #000;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
